AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
APP_POSTGRES_HOST=postgres
APP_POSTGRES_PORT=5432
APP_POSTGRES_DB=airflow
APP_POSTGRES_USER=airflow
APP_POSTGRES_PASSWORD=airflow
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_BOOTSTRAP_SERVERS_LOCAL=localhost:9094
KAFKA_TOPIC=rappel_conso
KAFKA_DLQ_TOPIC=rappel_conso_dlq
LAST_PROCESSED_PATH=/opt/airflow/data/last_processed.json
INITIAL_LAST_PROCESSED=2000-01-01
SPARK_IMAGE=rappel-conso/spark:latest
